
iframe {
  border: 2px solid #073;
  background: #fff;
  margin-left: 80px;
  margin-right: 80px;
}
.portrait iframe{
  width: calc(100vw - 150px);
  height: calc(50vh - 90px);
  margin-top: 25px;
}
.landscape iframe{
  margin-top: 80px;
  width: calc(50vw - 200px);
  height: calc(100vh - 280px);
}

.portrait{
}

.controls{
  text-align: center;
}
button{
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  min-width: 100px;
  min-height: 40px;
  background: #000;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  margin: 5px;
}
body{
  margin: 5px;
  overflow: hidden;
  text-align: center;
  background: #4c8;
}
