{% extends "index.html" %}

{% block header %}
  <link rel="stylesheet" href="../cmd.css">
{% endblock %}

{% block content %}
  <div id='main'>
    <form method="POST" action="/cmdsubmit">
      <input type="text" id="cmdinput" name="cmdinput"
             placeholder="Enter Command">
      </input>
      <input type="submit" id="cmdsubmit" value="Submit"></input>
      <br><br>
      <div id=cmdout><pre>
Welcome to cookiejar command window.
Type 'help' for a list of commands.
</pre>
      </div>
    </form>
  </div>

{% endblock %}
