{% extends "index.html" %}

{% block header %}
{% endblock %}

{% block content %}
  <div id='status'>
    {{message}} <br><br>
    <a class="button" href="{{destination}}">Continue</a>
  </div>
{% endblock %}
