
<div class="bottom">
  <hr>
  <span class="muted">
    <small><i>{{gen_date}}</i></small>
  </span>
</div>

<style>
  .muted{
    color:#444;
  }
  .bottom hr{
    border: 1px solid #444;
    color: #444;
  }
  .bottom{
    margin-top: 30px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 1em;
  }
</style>
