.redbg{
    background: red;
  }
  .bluebg{
    background: #018;
  }
  .yellowtext{
    color: yellow;
    background: blue;
  }
  .ul{
    text-decoration: underline;
  }
  .sans{
    font-family: sans-serif;
  }
  #main_div{
    padding: 3em;
  }
  body{
    text-align: center;
  }
  h1, h2 {
    font-family: sans-serif;
  }
  .white{
    color: #fff;
  }