{{header}}

<form action='/submit' method="POST">
  <input type='hidden' name='action' value='cmd'/>
  <table>
    <tr>
      <td colspan='2'>
        <textarea rows='9' cols='50'></textarea>
      </td>
    </tr>
    <tr>
      <td>
        <input name='cmd'type='text' size='42'></input>
      </td>
      <td>
        <input type='submit' value='Run'/>
      </td>
    </tr>
  </table>
</form>
{{footer}}
