{{header}}
<h2> Login </h2>
<form action='/submit' method="POST">
  <input type='hidden' name='action' value='login'/>
  <table>
    <tr>
      <th>Name</th>
      <td> <input type='text' name='username'/> </td>
    </tr>
    <tr>
      <th>Password</th>
      <td> <input type='password' name='password'/></td>
    </tr>
    <tr> <td></td><td> <input type='submit' value='Submit'/></td> </tr>
  <table>
</form>

<hr/>

<h2> Signup Page </h2>
<form action='/submit' method="POST">
  <input type='hidden' name='action' value='signup'/>
  <table>
    <tr>
      <th>Name</th>
      <td> <input type='text' name='username'/> </td>
    </tr>
    <tr>
      <th>Password</th>
      <td> <input type='password' name='password'/></td>
    </tr>
    <tr>
      <th> Confirm </th>
      <td> <input type='password' name='password2'/></td>
    </tr>
    <tr> <td></td><td> <input type='submit' value='Submit'/></td> </tr>
  <table>
</form>
{{footer}}
