<!doctype html>
<html>
  <head>
  </head>
  <body>
    <h1> Submit Page </h1>
    <table>
      <tr>
        <th> Name </th> <td> {{name}} </td>
        <th> Password </th> <td> {{pass1}} </td>
        <th> Confirm </th> <td> {{pass2}} </td>
      </tr>
    </table>
  </body>
</html>
