/* END */
    </style>
  </head>
  <body>
<!-- HTML -->
    <p>Program not loaded.</p>
    <p> Try appending '-babel' to the file name
       before the extension to run the legacy version.</p>
    <p> Example <a href='./htmlnotes-babel.html'>./htmlnotes-babel.html</a>
<!-- END -->
    <script>
/* JS */
