{% extends "index.html" %}

{% block header %}
  <link rel="stylesheet" href="../cmd.css">
{% endblock %}

{% block content %}
  <div id='main'>
    <form method="POST" action="/cmdsubmit" autocomplete="off">
      <div id="cmdout">
        Welcome to cookiejar command window. <br>
        Type 'help' for a list of commands.
      </div>
      <input type="text" id="cmdinput" name="cmdinput"
             placeholder="Enter Command">
      </input>
      <input type="submit" id="cmdsubmit" value="Submit"></input>
    </form>
  </div>

{% endblock %}
