{% extends "index.html" %}

{% block header %}
  <link rel="stylesheet" href="../cmd.css">
{% endblock %}

{% block content %}
  {% if (username != "Guest") %}
    <form method="POST" action="/logoutsubmit">
      <div style="font-size: 16px;">
        <span> Current User: {{name}} </span>
          <input type="submit" value="Logout">
      </div>
    </form>
  {% endif %}
  <h3> Logout </h3>
  <form method="POST" action="/logoutsubmit">
    <input type="submit" value="Logout">
  </form>
  <br>
{% endblock %}

