{% extends "index.html" %}

{% block header %}
{% endblock %}

{% block content %}
  <div id='status' class="{{status}}">
    {{message}}
  </div>
  <a class="button" href="{{destination}}">Continue</a>
  <br><br>
{% endblock %}
