{% extends "index.html" %}

{% block header %}
  <link rel="stylesheet" href="../cmd.css">
{% endblock %}

{% block content %}
  {% if (username != "Guest") %}
    <form method="POST" action="/logoutsubmit">
      <div style="font-size: 16px;">
        <span> Current User: {{name}} </span>
          <input type="submit" value="Logout">
      </div>
    </form>
  {% endif %}
  <h3 style="display: inline-block;"> Sign Up </h3>
  &emsp; &emsp;
  <a href="/login"> Login Instead </a>
  <br>
  <form method="POST" action="/signupsubmit">
    <input type="text" placeholder="Username" name="username"> <br>
    <input type="password" placeholder="Password" name="pass1"> <br>
    <input type="password" placeholder="Confirm" name="pass2"> <br>
    <input type="submit" value="Submit">
  </form>
  <br>

{% endblock %}

