<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body style="font-family: sans;">
    <a href='/' style="color: blue">Control Panel</a>
    <h3> Web Console </h3>
    <p><pre>{{output}}</pre></p>
    <form method='post' action='./console.html'>
      <label for='cmdinput'>Enter Command</label><br>
      <input type='text' name='cmdinput' id='cmdinput'
        autofocus autocomplete='off'/>
      <input type='submit' value='Submit' />
    <form>
    <script>
      let hist = "{{hist}}".split("\n")
      let histIndex = hist.length
      window.
      function keydown(e){
        if(e.keyCode == 37){
          --histIndex
          if(histIndex > -1){
            document.getElementById("cmdinput").value = hist[histIndex]
          }
        }
      }
      function init(){
        window.addEventListener("keydown", keydown)
      }
    </script>
  </body>
</html>

