
<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body style="font-family: sans;">
    <a href='/' style="color: blue">Control Panel</a>
    <h3> Notes </h3>
    <p style='max-width: 400px;'>
     {{note_list}}
    </p>
    <form method='post'>
      <label for='notename'>File Name</label>
      <input type='text' name='notename'
             id='notename' value='{{note_name}}'/>
      <input type='submit' value='Save' />
      <!--br>
      <input type='checkbox' id='runonsave' name='runonsave'/>
      <label for='runonsave'>Run On Save</label>
      -->
      <br><br>
      <textarea rows=11 cols=48
        id='notecontent' name='notecontent'
        style="white-space: pre; font-family: monospace;
          overflow-wrap: normal; overflow-x: auto;"
        >{{note_content}}</textarea>
    </form>
  </body>
</html>
