
<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body style="font-family: sans;">
    <a href='/' style="color: blue">Control Panel</a>
    <h3> Scripts </h3>
    <p style='max-width: 400px;'>
     {{script_list}}
    </p>
    <form method='post'>
      <label for='scriptname'>File Name</label>
      <input type='text' name='scriptname'
             id='scriptname' value='{{script_name}}'/>
      <input type='submit' value='Save and Run' />
      <!--br>
      <input type='checkbox' id='runonsave' name='runonsave'/>
      <label for='runonsave'>Run On Save</label>
      -->
      <br><br>
      <textarea rows=11 cols=48
        id='scriptcontent' name='scriptcontent'
        style="white-space: pre; font-family: monospace;
          overflow-wrap: normal; overflow-x: auto;"
        >{{script_content}}</textarea>
      <br>
      <h3> Output </h3>
      <p><pre>{{script_output}}</pre></p>
    </form>
  </body>
</html>
