/* END */
    </style>
  </head>
  <body>
<!-- HTML -->
<!--span id="bufferout">buffer</span-->
<div id='keyboardContainer'>
  <div id="textout" class=""> Text goes here </div>
</div>
<!-- END -->
    </div>
    <script>
      let datakey = "notedataid=siQZSqgtlU"
      let inframe = (window!=window.top)
      window.Note = {}
      window.Note.data =
/* JSON */
{
  "text": "Welcome to Adventure Keyboard!\nPlease read through help in the main menu\n\nSet \"hardwareInputMode\" to chorded to use the\nsystem with a physical keyboard or numpad.\n\nVisit: derekmc.gitlab.io for more info.",
  "cursor": 340,
  "buttonkeys": "jkl;uiop '"
}
;
/* END */
      (function(){
        if(!inframe){
          try{
            let savedata = localStorage.getItem(datakey);
            if(savedata && savedata.length){
              window.Note.data = JSON.parse(savedata)
            }
          } catch(e){
            console.log("No local data")
            console.log(e)
          }
        }

        let firstLogCall = true;
        let originalLogFunc = console.log;
        function log(x, ...rest){
          if(firstLogCall)
            document.body.appendChild(document.createElement("hr"));
         else
            document.body.appendChild(document.createElement("br"));
          document.body.appendChild(
            document.createTextNode(x + " " + rest.join(" ")));
          firstLogCall = false;
          originalLogFunc(x, ...rest)
        }
        console.log = log;

        let SaveInterval = 500;

        window.addEventListener("load", ()=>{
          convertMarkdown();
          window.setInterval(saveData, SaveInterval);
        })

        function saveData(){
          if(inframe){
            let msg_obj = {
              action: "saveData",
              data: JSON.stringify(window.Note.data)
            }
            let message = JSON.stringify(msg_obj);
            window.parent.postMessage(message);
          } else {
            localStorage.setItem(datakey, JSON.stringify(window.Note.data))
          }
        }
        let md_subs = [
          /(\n|^)\s*######\s([^\s#].*)\n*/g, "\n<h6 id=\"$2\">$2</h6>\n",
          /(\n|^)\s*#####\s([^\s#].*)\n*/g, "\n<h5 id=\"$2\">$2</h5>\n",
          /(\n|^)\s*####\s*([^\s#].*)\n*/g, "\n<h4 id=\"$2\">$2</h4>\n",
          /(\n|^)\s*###\s*([^\s#].*)\n*/g, "\n<h3 id=\"$2\">$2</h3>\n",
          /(\n|^)\s*##\s*([^\s#].*)\n*/g, "\n<h2 id=\"$2\">$2</h2>\n",
          /(\n|^)\s*#\s*([^\s#].*)\n*/g, "\n<h1 id=\"$2\">$2</h1>\n",
          /\n(\s*)[\*\-](.*)/g, '\n<ul><li>$2</li></ul>',
          /\n+\n(?=[^#\n])/g, "\n\n<br><br>",
          /\n+\n/g, "\n",
          /__([^_\n]*)__/g, "<b>$1</b>",
          /\*\*([^_\n]*)\*\*/g, "<b>$1</b>",
          /_([^_\n]*)_/g, "<i>$1</i>",
          /\*([^_\n]*)\*/g, "<i>$1</i>",
          /\!\[([^\]\n]*)\]\(([^\)\n]*)\)/g, "<img src=\"$2\" alt=\"$1\"></img>",
          /\[([^\]\n]*)\]\(([^\)\n]*)\)/g, "<a href=\"$2\">$1</a>",
        ];
        function convertMarkdown(){
          let containers = document.getElementsByClassName("markdown-src");
          for(let j=0; j<containers.length; ++j){
            let container = containers[j];
            let src = container.innerHTML;
            for(var i=0; i<md_subs.length-1; i += 2){
              var search = md_subs[i];
              var replace = md_subs[i+1];
              src = src.replace(search, replace);
            }
            container.innerHTML = src;
          }
        }
      })();
/* JS */
