
h1, h2, h3, h4{ font-family: sans-serif; }

h1{ text-align: center; margin-top: 2.8em; }
h2{ margin-top: 2.8em; }
.mono{ font-family: monospace; }
.monobold{ font-family: monospace; font-weight: bold; }
.center{ text-align: center; }
.inlnblk{ display: inline-block; }

h2{ border-bottom: 1px solid black; }

h3{ /*font-style: italic;*/ }

body{
max-width: calc(min(95%, 800px));
margin-left: auto;
margin-right: auto;
}

blockquote{
  background: #eee;
  padding: 1.3em 2em;
  margin-left: 0;
  border-left: 3px solid #aaa;
}

blockquote.thematrix{
  background: #000;
  color: #fff;
}

table.stripeTbl{
  border-collapse: collapse;
  border: 1px solid black;
}
.stripeTbl th, .stripeTbl td{
  margin: 0;
  padding: 1em 1.25em;
  text-align: center;
}
.stripeTbl tr:nth-child(odd){
  background: #e3e5f8;
}
.stripeTbl th{
  padding: 1em 1.65em;
  font-size: 14px;
  text-align: center;
  background: #000;
  color: #fff;
  font-family: sans-serif;
}
