body{
  background: #778;
  text-align: center;
  margin: 0px;
}
canvas{
  width: 80vmin;
  height: 80vmin;
  background: black;
}
button{
  font-variant: small-caps;
  border-radius: 8px;
  background: #223;
  color: #ddd;
  min-width: 3rem;
  border: none;
  font-size: 110%;
  padding: 6px 12px;
  font-weight: bold;
  /*outline: ;*/
}
div{
  padding: 8px;
}
*{ user-select: none; }
