<!DOCTYPE html>

<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> BaseCMS Edito </title>
    <style>
      *{
        font-family: sans-serif;
        margin: 0;
      }
      body{
        margin-left: auto;
        margin-right: auto;
        width: 80vw;
        height: calc(80vh - 100px);
      }

      textarea{
        width: 50vw;
      }
    </style>
  </head>
  <body>
    <h1> BaseCMS Editor </h1>
    <h3> edit {{format}} </h3>
    <!-- <a href="./template">template</a> |
    <a href="./page">page</a> |
    <a href="./css">css</a> |
    <a href="./js">js</a> |
    <a href="./view">view</a> -->

    <br>
    <form action="../save" method="POST">
      <input type="submit" value="Save"></input><br>
      Type:
      <select name="file_type">
        <option value="html">html</option>
        <option value="style">style</option>
        <option value="script">script</option>
      </select><br>
      Name:
      <input type="text" value="edit"
        name="savefile"></input>
      <br>
      <textarea rows=20 cols=60 name="editor_doc">{{content}}</textarea>
      <br>
      <input type="submit" value="Save"></input>
    </form>
  </body>
</html>

