
.title{
  background: #404070;
  color: #fff;
  margin-top: 0px;
  padding: 8px;
  vertical-align: baseline;
  position: relative;
}
.title h1 {
  padding: 4px;
  display: inline-block;
  margin: 0;
}
.title .titleinfo{
  position: absolute;
  right: 8px;
  bottom: 8px;
  font-weight: bold;
}
.ul {
  border-bottom: 2px solid black;
}
.bbb, a.bbb, a.bbb:visited{
  color: #bbb;
}
.bbb.ul{
  border-bottom: 2px solid #bbb;
}
.center{
  text-align: center;
}

a, a:visited {
  color: black;
}
.title a, .title a:visited {
  color: #fff;
  text-decoration: none;
  line-height: 150%;
  vertical-align: baseline;
}
a.disabled{
  color: #aaa;
  pointer-events: none;  
  text-decoration: line-through;
}
body{
  font-family: sans-serif;
  /*background: #f2f2f2;*/
  background: #fff;
  margin:0;
}

#status{
  border-radius: 0.5rem;
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background: #ccc;
}

.ok{
  font-weight: bold;
  color: #00c;
}
.ok::before{
  content: "Success: ";
}
.error::before{
  content: "Error: ";
}
.error{
  font-weight: bold;
  color: #c20; /*#c96a04;*/
}

.content {
  padding: 6px 20px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
input[type="text"], input[type="password"]{
  margin: 3px 0;
  padding: 6px;
  font-size: 16px;
}

.button, a.button, a:visited.button{
  background: black;
  color: white;
  padding: 6px 12px;
  border: none;
  font-size: 16px;
  margin: 8px 0;
  text-decoration: none;
}
