
input[type="submit"]{
  background: black;
  color: white;
  padding: 6px 12px;
  border: none;
  font-size: 16px;
}
#cmdinput[type="text"]{
  width: calc(100% - 100px);
  padding: 6px;
  border: 1px solid black;
  font-size: 16px;
}
#cmdsubmit{
  margin-right: -20px;
}
#main{
  background: #fff;
  font-family: monospace;
  font-size: 16px;
  padding: 20px;
  border: 2px solid #aaa;
  min-width: 240px;
}
#cmdout{
  border: 1px solid black;
  padding: 6px;
  min-height: 150px;
  overflow-x: auto;
  overflow-y: auto;
}
