
h1{
  background: #484848;
  color: #fff;
  padding: 20px;
  margin-top: 0px;
}
h1 a, h1 a:visited {
  color: #fff;
  text-decoration: none;
}
a, a:visited {
  color: black;
}
body{
  font-family: sans-serif;
  background: #f2f2f2;
  margin:0;
}

.content {
  padding: 6px 20px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 4rem;
}
input[type="text"], input[type="password"]{
  margin: 3px 0;
  padding: 6px;
  font-size: 16px;
}

.button, a.button, a:visited.button{
  background: black;
  color: white;
  padding: 6px 12px;
  border: none;
  font-size: 16px;
  margin: 8px 0;
  text-decoration: none;
}
