<!doctype html>

<html>
  <head>
    <title> Webscript Demo </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
      *{ font-family: sans-serif; }
      th{
        text-align: right;
        background: #def;
        padding: 8px 12px;
      }
    </style>
  </head>
  <body>
    <h1> Admin Login </h1>
    <form method="POST">
      <table>
        <tr> <th> Admin Name </th>
          <td> <input type="text" name="admin_name"></input> </td> </tr>
        <tr> <th> Admin Password </th>
          <td> <input type="password" name="admin_password"></input> </td> </tr>
      </table>
      <input type="Submit" value="Submit"></input>

    </form>
    <br>
    <a href="{{home}}">Home</a> &nbsp; | &nbsp;
    <a href="{{admin_home}}">Admin</a> &nbsp;
  </body>
</html>
