<!doctype html>
<html>
  <head>
    <title> {{redirect_action}} </title>
    <meta http-equiv="refresh" content="2; url={{redirect_link}}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <h1> {{redirect_action}} </h1>
    <a href="{{redirect_link}}">Continue</a>
  </body>
</html>
