.menuTitle{
  background: #000;
  color: #fff;
  padding: 10px 20px;
  border-radius: 10px;
  margin-top: 0;
  margin-bottom: 10px;
}
.menuContainer{
  text-align: center;
  z-index: 999;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(200, 200, 200, 0.70);
  color: #000;
  padding: 0.5em;
  font-family: sans-serif;
}
.menuContainer button.neutral{
  border: 2px solid black;
  background: #ccc;
  color:#000;
}
.menuBg{
  margin: 0;
  border-radius: 10px;
  padding: 10px 20px;
  background: rgba(255, 255, 255, 0.95);
}
.menuContainer button{
  border: none;
  /*border: 3px solid #666;*/
  display: inline-block;
  font-size: 16px;
  background: #225;
  color: #fff;
  font-weight: bold;
  padding: 1px 12px;
  min-height: 38px;
  min-width: 30px;
  margin: 0px;
  margin-top: 1px;
  overflow-x: hidden;
  box-sizing: border-box;
  border-radius: 8px;
}

body.menuActive > *:not(.menuContainer){
  filter: blur(1px);
}
