#testoutput{
  font-family: monospace;
  border: 5px solid #a8f;
  font-size: 16px;
  padding: 4px;
  background: #000;
  color: #fff;
  display: inline-block;
  white-space: pre;
}
#testoutput .select{
  color: #000;
  background: #fff;
  border-left: 2px solid white;
  margin-left: -2px;
  border-right: 2px solid white;
  margin-right: -2px;
}
.cursor{
  border-left: 2px solid white;
  margin-left: -2px;
}

body{
  user-select:none;
}
