<!doctype html>
<html>
  <head>
    <title> Test WSGI </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
      *{ 
        font-family: sans-serif;
      }
    </style>
  </head>
  <body>
    <a href="{{home}}">Home</a>
    <h1> Journal Edit </h1>
    <ul>
      {{entry_list}}
    </ul>
    <form method="POST">
      <span><b>Entry Name</b></span> &nbsp;<input type="text" name="entry_name" value="{{entry_name}}"></input>
      <br>
      <textarea rows="12" cols="60" name="journal_text">{{journal_text}}</textarea>

      <br><input type="submit" value="Submit"></input>
    </form>
  </body>
</html>
