
<!doctype html>
<html>
  <head>
    <title> User </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
      *{ 
        font-family: sans-serif;
      }
      th{
        text-align: right;
        vertical-align: text-top;
      }
    </style>
  </head>
  <body>
    <h1> Manage User </h1>
    {{message}}
    <form method="POST">
      <input type='hidden' name='userform_action' value='request_newuser'>
      <h3> Request New User </h3>
      <h5> Must be approved by admins </h5>
      <table>
        <tr>
          <th> Name </th>
          <td>
            <input type="text" name="name">
          </td>
        </tr>
        <tr>
          <th> Password </th>
          <td>
            <input type="password" name="password">
          </td>
        </tr>
        <tr>
          <th> Confirm Password </th>
          <td>
            <input type="password" name="confirm_password">
          </td>
        </tr>
        <tr>
          <th> Message To Admins: </th>
          <td>
            <textarea name="user_request_message"></textarea>
          </td>
        </tr>
        <tr>
          <td></td>
          <td>
            <input type="submit" value="Submit">
          </td>
        </tr>
      </table>
    </form>
    <a href="{{home}}">Home</a>
  </body>
</html>
