*{
  user-select: none;
}
:root{
  --fgcol: rgb(255, 255, 255);
  --bgcol: rgb(0, 0, 0);
  --midcol: rgb(55, 55, 55);
}

h1, h2, h3, h4{
  font-family: sans-serif;
}
.cursor{
  border-left: 2px solid white;
  margin-left: -2px;
}

body.init{
  background: var(--midcol);
  color: var(--fgcol);
  padding: 0px;
  font-family: monospace;
  word-wrap: break-word;
  margin: 0;
  text-align: center;
  overflow: hidden;
}
.mirrorImage{
  transform-origin: 50vw 50vh;
  transform: scaleX(-1);
}
/*
.mirrorImage #textout,
*/

.select{
  background: var(--fgcol);
  color: var(--bgcol);
  border-left: 2px solid white;
  margin-left: -2px;
  border-right: 2px solid white;
  margin-right: -2px;
}

/*
button{
  padding: 1.5em 2em;
  color: #fff;
  background: #000;
  font-weight: bold;
  border: none;
}
*/
#bb1, #bb4, #bb5, #bb8, #bb9{
  background: #335;
}
.left{ float: left; }
.right{ float: right; }
.left, .right{
  display: flex;
  flex-flow: column;
}
button{
  border: 2px solid white;
  color: #fff;
  background: #000;
  padding: 2px 8px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 8px;
}
.mirrorImage #keyboardContainer{
  margin-left: 20px;
}
.mirrorImage #baseline-div{
  left: 50%;
  top: 36px;
}
#baseline-div{
 position: fixed;
 top: 0;
 left: 50%;
 min-width: 222px;
 /*width: 100%;
 max-width: 400px;*/
 transform: translate(-50%, 0);
 border-top-left-radius: 4px;
 border-top-right-radius: 4px;
 padding: 2px 0px;
 text-align: center;
 color: #fff;
 background: rgba(0,0,0,0.0);
}
#textout{
  text-align: left;
  /*white-space: pre-wrap;*/
  position: absolute;
  white-space: pre;
  /*width: 96vmin;
  height: 92vmin;*/
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  background: var(--bgcol);
  padding: 6px;
  font-family: monospace;
}


