body{
    margin: 0;
}
.orbit2{
    font-size: 15px;
    padding: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    user-select: none;
    height: 100vh;
}
.bluish{
    background: rgb(9, 1, 46);
    color: #fff;
}
.orbit2 h1{
    text-align: left;
    padding: 0px 8px;
    margin: 0;
    margin-top: 2px;
    display: inline-block;
}
.bluish button{
    border: 4px solid #88a;
    border-radius: 20px;
    font-size: 18px;
    font-weight: bold;
    padding: 2px 18px;
    vertical-align: top;
    background: #88a;
    min-width: 45px;
    min-height: 50px;
    color: #000;
    margin: 2px;
    margin-top: 0;
    box-sizing: border-box;
}
.bluish button:focus{
    border: 4px solid #55b;
    outline: none;
    color: #338;
    box-sizing: border-box;
    background: #bbd;
}
.bluish button:hover{
    border: 4px solid #88a;
    outline: none;
    background: #55b;
    color: #fff;
    box-sizing: border-box;
}
.bluish .smalltext{
    font-size: 12px;
    line-height: 80%;
}
.bluish .tinytext{
    font-size: 8px;
    line-height: 80%;
}


.bluish_text::selection{
    color:#fff;
    background: rgb(114, 107, 158);
}
.bluish_text{
    background: #fff;
    color: #112;
    font-family: "monospace";
    font-size: 14px;
    text-decoration: underline;
    text-decoration-color: rgba(30, 30, 130, 0.00);
    border: none;
    border-radius: 0;
    font-weight: bold;
    line-height: 150%;
    border-radius: 1em;
    border: 4px solid #fff;
    word-break: break-all;
    hyphens: auto;
    text-align: justify-all;
}
.bluish_text:focus{
    border: 4px solid rgb(101, 101, 255);
    outline: none;
}
.orbit2 #editarea{
    padding: 3px;
    padding-left: 12vw;
    padding-right: 12vw;
    width: calc(100vw - 40px);
    height: calc(100vh - 105px);
    box-sizing: border-box;
}
