/* END */
    </style>
  </head>
  <body>
    <div class="markdown-src">
<!-- HTML -->
<h1> Keyboard Layout Tester </h1>
<span id='keyboardSelect'>
  <h3> Select Layouts </h3>
  System:
  <select>
    <option> Beta </option>
  </select>
  &emsp;
  Input:
  <select>
    <option> Alpha </option>
  </select>
</span>
<br><br>
<div id='testoutput' tabindex="0"></div>
<br><br>
<h3 style="display: inline-block"> Edit Layout </h3>
  <select id='editLayoutSelect' onchange='editSelected()'>
    <option> Beta </option>
  </select>
<button onclick='deleteEditLayout()'>Delete/Reset</button>
<br>
<textarea id='editLayoutTextarea'
  onchange='updateEditLayout()' rows=8 cols=50></textarea>
<br>
Layout Flashcards:
<a href='javascript:quizLink({hide: 0})'>
  Full Layout</a> &emsp;
<a href='javascript:quizLink({hide: 0.3})'>
  Hide 30%</a> &emsp;
<a href='javascript:quizLink({hide: 0.6})'>
  Hide 60%</a> &emsp;
<a href='javascript:quizLink({hide: 0.8})'>
  Hide 80%</a> &emsp;
<a href='javascript:quizLink({hide: 0.95})'>
  Hide 95%</a> &emsp;
<br><br>
 Note: *changes to built-in layouts are not persisted.
<!-- END -->
    </div>
    <div style="display: none;"></div>
    <script>
      let datakey = "__ORBITAL_NOTES__:notedataid=OUMcRGItAZ"
      let inframe = (window!=window.top)
      window.Note = {}
      window.Note.data =
/* JSON */
{};
/* END */
      (function(){
        window.Note.save = saveData
        window.Note.load = loadData
        window.Note.autoSave = autoSave
        function getNoteModule(){
          if(!window['Note']) window.Note = {}
          return window.Note
        }
        function loadData(){
          let note = getNoteModule()
          if(!inframe){
            try{
              let savedata = localStorage.getItem(datakey)
              if(savedata && savedata.length){
                note.data = JSON.parse(savedata)
              }
              window.addEventListener("message", onMessage)
            } catch(e){
              console.log("No local data")
              console.log(e)
            }
          } else {
            return note.data
          }
        }

        let firstLogCall = true
        let originalLogFunc = console.log
        let logdiv = null
        let logClearCounter = 0
        function log(x, ...rest){
          if(firstLogCall){
            logdiv = document.createElement('div')
            document.body.appendChild(document.createElement("hr"))
            document.body.appendChild(logdiv)
            setInterval(()=>{
              if(--logClearCounter <= 0) logdiv.innerHTML = ''}, 1000)
          }else{
            logdiv.appendChild(document.createElement("br"))
          }
          logClearCounter = 5
          logdiv.appendChild(
            document.createTextNode(x + " " + rest.join(" ")))
          firstLogCall = false
          originalLogFunc(x, ...rest)
        }
        console.log = log

        let SaveInterval = 500

        window.addEventListener("load", ()=>{
          convertMarkdown()
          autoSave()
          loadData() // dont wait for async
        })
        let saveIntervalRef = null
        function autoSave(enable){
          if(enable === undefined) enable = true
          clearInterval(saveIntervalRef)
          if(enable){
            saveIntervalRef = window.setInterval(saveData, SaveInterval)
          }
        }
        // this is preferred over a 'localstorage' polyfill for a frame,
        // so the programmer doesn't assume this is the browsers localstorage
        function saveData(){
          let note = getNoteModule()
          if(inframe){
            let msg_obj = {
              action: "saveData",
              data: JSON.stringify(note['data'])
            }
            let message = JSON.stringify(msg_obj)
            window.parent.postMessage(message)
          } else {
            localStorage.setItem(datakey, JSON.stringify(note['data']))
          }
        }
        let md_subs = [
          /(\n|^)\s*######\s([^\s#].*)\n*/g, "\n<h6 id=\"$2\">$2</h6>\n",
          /(\n|^)\s*#####\s([^\s#].*)\n*/g, "\n<h5 id=\"$2\">$2</h5>\n",
          /(\n|^)\s*####\s*([^\s#].*)\n*/g, "\n<h4 id=\"$2\">$2</h4>\n",
          /(\n|^)\s*###\s*([^\s#].*)\n*/g, "\n<h3 id=\"$2\">$2</h3>\n",
          /(\n|^)\s*##\s*([^\s#].*)\n*/g, "\n<h2 id=\"$2\">$2</h2>\n",
          /(\n|^)\s*#\s*([^\s#].*)\n*/g, "\n<h1 id=\"$2\">$2</h1>\n",
          /\n(\s*)[\*\-](.*)/g, '\n<ul><li>$2</li></ul>',
          /\n+\n(?=[^#\n])/g, "\n\n<br><br>",
          /\n+\n/g, "\n",
          /__([^_\n]*)__/g, "<b>$1</b>",
          /\*\*([^_\n]*)\*\*/g, "<b>$1</b>",
          /_([^_\n]*)_/g, "<i>$1</i>",
          /\*([^_\n]*)\*/g, "<i>$1</i>",
          /\!\[([^\]\n]*)\]\(([^\)\n]*)\)/g, "<img src=\"$2\" alt=\"$1\"></img>",
          /\[([^\]\n]*)\]\(([^\)\n]*)\)/g, "<a href=\"$2\" target=\"_blank\">$1</a>",
        ]
        function onMessage(){
          try{
            let message = JSON.parse(e.data)
            // console.log('received message', message)
            if(message.hasOwnProperty("event")){
              if(message.event == "keydown" && typeof keydown != "undefined"){
                keydown(message)
              }
              if(message.event == "keyup" && typeof keyup != "undefined"){
                keydown(message)
              }
            }
          } catch(e){
            console.warn("error processing message: " + e.data)
          }
        }
        function convertMarkdown(){
          let containers = document.getElementsByClassName("markdown-src")
          for(let j=0; j<containers.length; ++j){
            let container = containers[j]
            let src = container.innerHTML
            for(var i=0; i<md_subs.length-1; i += 2){
              var search = md_subs[i]
              var replace = md_subs[i+1]
              src = src.replace(search, replace)
            }
            container.innerHTML = src
          }
        }
      })()
      //window.addEventListener('load', htmlNotesMainFunc)
      //function htmlNotesMainFunc(){
/* JS */
